 <nav class="blue darken-4">
    <div class="nav-wrapper">
      
      <a href="/" class="brand-logo">Test<img src="http://vuejs-map.vladzolo.fr/img/logo-zolv.fb859b3b.png" width="41" height="41" alt="zolv">App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{#if isCreate}}
        <li class="active"><a href="/register">Créer un compte</a></li>
        {{else}}
        <li><a href="/register">Créer un compte</a></li>
        {{/if}}

        {{#if isLogin}}
        <li class="active"><a href="/login">Connection</a></li>
        {{else}}
        <li><a href="/login">Connection</a></li>
        {{/if}}

        {{#if isUsersList}}
        <li class="active"><a href="/api/user/users">Liste des utilisateurs</a></li>
        {{else}}
        <li><a href="/api/user/users">Liste des utilisateurs</a></li>
        {{/if}}


      </ul>
    </div>
  </nav>