<form id="form" action="/api/user/register" method="POST">
    <h2>create user</h2>

    <div class="input-fiels">
        <input type="text" name="name">
        <label>Users name</label>
    </div>

    <div class="input-fiels">
        <input type="text" name="email">
        <label>Users email</label>
    </div>

    <div class="input-fiels">
        <input type="password" name="password">
        <label>Users password</label>
    </div>

    <button id="say" type="submit" class="btn">Create user</button>

</form>

{{!-- <script src="/echo.js"> --}}

