      <h3>Test technique</h3>
      <h5>API sécurisée par Register/Login</h5>
      <h5>Nous vous demandons de développer une application <br>permettant de s’inscrire via des informations basiques.
      </h5>
      <ul>
        <li>• Au premier accès, l’utilisateur doit se créer un compte (email, mdp) sur la route /register</li>
        <li>• Une fois le compte créé, l’utilisateur doit utiliser la route /login pour récupérer un token.</li>
        <li>• Une fois logué, l’utilisateur peut accéder à la liste des utilisateurs déjà enregistrés sur la plateforme via la route /users.</li>
      </ul>
      <h5>Exigences</h5>
      <ul>
        <li>• Langage : Node.js,</li>
        <li>• Normes et dépendances : ES6, fonctions fléchées, Express, Mongoose</li>
        <li>• DB : MongoDB (Possibilité de créer une DB gratuite via un compte Atlas) </li>
      </ul>
      <hr/>
      <h5>J'ai utilisé:</h5>
      <ul>
        <li>• Node.js, Express.js, Javascrip</li>
        <li>• Mongoose - pour base de données Mongodb,</li>
        <li>• Express-handlebars - moteur de génération de page côté serveur,</li>
        <li>• Bcryptjs - pour HASH mdp, </li>
        <li>• Jsonwebtoken - pour token, </li>
        <li>• Materialize CSS - pour CSS, </li>
        <li>• @hapi/joi - pour validation des formulaires.</li>
      </ul>