<h2>Users list</h2>
<button id="logout" class="btn">Logout</button>
{{#if usersList.length}} 
<ul>
{{#each usersList as |user|}}
    <li class="user">
        <label>
            <span>{{user}}</span>
        </label>
    </li>
{{/each}} 
</ul>

{{else}}
<p>No users found...</p>
{{/if}}

<script> 
    (function () {
	const button = document.getElementById("logout");
	button.addEventListener("click", () => {

        document.cookie = [
            'authToken', '=',
            '; expires=' + new Date(0).toUTCString(),
            '; path=' + '/',
            '; domain=' + location.hostname
        ].join('');

        document.location.href = "/login";

	}, false);
}());
</script>
