<form action="/api/user/login" method="POST">
    <h2>Login page</h2>

    <div class="input-fiels">
        <input type="text" name="email">
        <label>Users email</label>
    </div>

    <div class="input-fiels">
        <input type="password" name="password">
        <label>Users password</label>
    </div>

    <button type="submit" class="btn">Login</button>

</form>